* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a7e2d7;
}

.container-contact {
  color: black;
  max-width: 865px;
  background-color: #fff;
  border-radius: 20px;
  width: 865px;
  height: 765px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  font-size: 16px;
}

.container-contact p {
  padding: 0 0 10px 0;
}

.container-contact input {
  background: none;
  border: 2px solid #87a3a6;
  border-radius: 8px;
  padding: 10px 20px;
  width: 100%;
}

.form-name {
  display: flex;
  gap: 20px;
}

.first-name,
.last-name {
  width: 100%;
}

input:hover {
  border-color: #0c7d69;
  cursor: pointer;
}

.query-type {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  gap: 20px;
}

.query-option {
  display: flex;
  border: 2px solid #87a3a6; /* Define uma borda sólida com a cor #87a3a6 */
  border-radius: 8px; /* Arredonda os cantos do botão */
  padding: 10px 20px; /* Adiciona preenchimento dentro do botão */
  width: 100%; /* Faz o botão ocupar toda a largura do seu contêiner */
  gap: 10px; /* Adiciona espaço entre os elementos dentro do botão */
  align-items: center; /* Centraliza os itens horizontalmente */
}

.query-option:hover {
  border-color: #0c7d69;
  cursor: pointer;
}

.query-option input {
  /* Estilo para a caixa de seleção dentro do botão */
  width: 20px;
  height: 20px;
}

.query-option input:checked {
  display: block;
}

.query-option input::after {
  background: #0c7d69;
}

.query-option label {
  /* Estilo para o texto do rótulo dentro do botão */
  appearance: none;
  color: #0c7d69;
  font-weight: 500;

  /* Você pode personalizar ainda mais a família e o tamanho da fonte */
}
